@font-face {
    font-family: "torukscregular";
    src: url(/trailer_&_logo/Font/torukscregular-z8ma1.ttf) format('truetype'),
         url(/trailer_&_logo/Font/torukscregular-z8ma1-webfont.woff2) format('woff2'),
         url(/trailer_&_logo/Font/torukscregular-z8ma1-webfont.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;

}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: "torukscregular";
}

li:hover {
    color: rgb(0, 177, 245);
}

#logo {
    height: 70px;
}
#banner {
    background-image: url('https://i.ytimg.com/vi/RJ2E0Sn7Oqc/maxresdefault.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 500px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 70%;
}

#about {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: "torukscregular";
    width: 100%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: rgb(0, 177, 245);
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px; 
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    /* pondo o nome do atores embaixo ou no final */
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: "torukscregular";
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('https://images.contactmusic.com/newsimages/sam_worthington_enjoyed_going_underwater_in_the_avatar_sequel_2692922.jpg');  
}

.banner-2 {
    background-image: url('https://br.web.img3.acsta.net/c_310_420/pictures/19/10/17/01/24/5480352.jpg');
}

.banner-3 {
    background-image: url('https://www.bollywoodhungama.com/wp-content/uploads/2022/06/Kate-Winslet-to-star-in-and-produce-HBO-limited-series-Trust-2.jpg');
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: "torukscregular";
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation {
        display: block;
    }
    nav {
        display: none;
    }

    #banner {
        background-position: 40%;
        background-image: url('https://imageio.forbes.com/specials-images/imageserve/639e09798e6da4e16a8cea7f/Official-IMAX-poster-for--Avatar--The-Way-of-Water-/960x0.jpg?format=jpg&width=960');
        margin-bottom: 100px;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #about {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }

}

.wallpaper {
    display: flex;
    background-image: url('./trailer_&_logo/avatar-the-way-of-water-2022-movies-avatar-2-sam-7680x4980-8979.jpg'); 
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 8px;
}

h2 {
    position: relative;
    padding-bottom: 20px;
    font-family: "torukscregular";
    background: transparent;
    color: rgba(0, 0, 255, 0.637);
    font-size: 19px;
    justify-content: center;
    align-items: center;
}
.contact-content {
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 300px;
    height: 40px;
    padding: 0 0 0 10px;
    border-radius: 8px;
    margin: 5px;
    outline: none;
    border: 2px solid rgb(0, 177, 245, 0.5);
    font-family: "torukscregular";
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
}

.textarea {
    width: 300px;
    height: 150px;
    padding: 0 0 0 10px;
    border-radius: 8px;
    outline: none;
    border: 2px solid rgb(0, 177, 245, 0.5);
    margin: 5px;
    font-family: "torukscregular";
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
}