@font-face {
    font-family: "toruksc regular";
    src: url(/trailer_&_logo/torukscregular-z8ma1.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;

}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: "toruksc regular";
}

li:hover {
    color: rgb(0, 177, 245);
}

#logo {
    height: 70px;
}
#banner {
    background-image: url('https://i.ytimg.com/vi/RJ2E0Sn7Oqc/maxresdefault.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}
