@font-face {
    font-family: "toruksc regular";
    src: url(/trailer_&_logo/torukscregular-z8ma1.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;

}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: "toruksc regular";

}

img {
    height: 180px;
}